.navbar {
    position: fixed;
    top: 0; 
    width: 100%;
    text-align: center;
    padding: 0 0;
    z-index: 100;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: margin 0.5s ease-in-out;
    padding-top: 3vh;
    padding-bottom: 2vh;
    z-index: 100;
    background-color: #FBF8FF;
}


.navbar-links {
    font-size: 1.6vmax;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row; 
    gap: 1.2vmax;
    margin: 0;
    position: relative;
    text-align: center;
    height: auto;
    align-items: flex-end;
}

.name {
    font-size: 2.4vmax;
    font-weight: 400;
    cursor: pointer;
    margin-right: 3vw;
    margin-left: 0;
}
