.page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: auto;
    padding: 0;
    overflow: auto;
    text-align: left;
    width: 75%;
    margin-top: 6vh;
}

.page-text {
    font-size: 1.7vmax;
    margin-bottom: 0;
    padding-bottom: 0.5vh;
    text-align: left;
}

.page-text2 {
    font-size: 1.35vmax;
    margin-bottom: 0;
    padding-bottom: 0.5vh;
    text-align: left;
}

.page-header {
    font-size: 1.65vmax;
    margin-bottom: 0;
    padding-bottom: 0.5vh;
    text-align: left;
    text-decoration: underline;
    font-style: italic;
}