.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 7vh;
    padding-bottom: 5vh;
}

.image-page-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20vmax, auto);
    gap: 1.5vmax;
    padding: 0;
    width: 85%;
}