/* Container to center the grid on the page */
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin-top: 7vh;
    padding-bottom: 5vh;
}

.image-page-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vmax;
    padding: 0;
    width: 85%;
}

.image-column {
    display: flex;
    flex-direction: column;
    gap: 1.5vmax;
}
